@charset "UTF-8";
body {
    position:relative;
}
#logon-box {
    float:left;
    width:354px;
    height:399px;
    margin:60px;
    border-bottom:9px solid #3b5999;
    background-color:#e9ebee;
}
#logon-body-box {
    width:auto;
    height:258px;
    padding:18px 18px 0px;
}
#logon-button {
    width:100%;
}
.-title-box {
    width:auto;
    height:72px;
    padding:0px 18px;
    font-size:36px;
    line-height:72px;
    background-color:#3b5999;
    color:white;
}
.-title-box h1 {
    font-weight:normal;
}
.-input-item {
    position:relative;
    width:auto;
    height:38px;
    margin-bottom:18px;
    border:1px solid #888888;
    background-color:white;
}
.-input-item label {
    position:absolute;
    top:0px;
    left:0px;
    width:auto;
    height:38px;
    padding:0px 9px;
    font-size:14px;
    line-height:38px;
    color:#888888;
    z-index:100;
}
.-input-item input {
    position:absolute;
    top:0px;
    left:0px;
    width:298px;
    height:38px;
    padding:0px 9px;
    border-width:0px;
    font-size:14px;
    line-height:18px;
    background-color:transparent;
    color:#333333;
    z-index:110;
}
.-button-item {
    position:relative;
    width:auto;
    height:40px;
}